### Pyspark Dataframes
- filter operation
- &, |, ==
- ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [5]:
df_pyspark=spark.read.csv('test4.csv', header=True, inferSchema=True)
df_pyspark.show()

+-----+---+----------+------+
| name|age|experience|salary|
+-----+---+----------+------+
|  ola| 25|         8| 10000|
|kasia| 44|        10|  2000|
| kuba| 55|         7|  4000|
| bolo| 11|         8|  6000|
| asdd| 33|         5|  3356|
+-----+---+----------+------+

### Filter Operations

In [6]:
### Salary of the poeple less than or equal to 5000
df_pyspark.filter("Salary<=5000").show()

+-----+---+----------+------+
| name|age|experience|salary|
+-----+---+----------+------+
|kasia| 44|        10|  2000|
| kuba| 55|         7|  4000|
| asdd| 33|         5|  3356|
+-----+---+----------+------+

In [8]:
# selecting filtered columns 
df_pyspark.filter("Salary<=5000").select(['name','age']).show()

+-----+---+
| name|age|
+-----+---+
|kasia| 44|
| kuba| 55|
| asdd| 33|
+-----+---+

In [9]:
# same output
df_pyspark.filter(df_pyspark["salary"]<=5000).show()

+-----+---+----------+------+
| name|age|experience|salary|
+-----+---+----------+------+
|kasia| 44|        10|  2000|
| kuba| 55|         7|  4000|
| asdd| 33|         5|  3356|
+-----+---+----------+------+

In [13]:
# multiple statements 
# & = and
# | = or


df_pyspark.filter((df_pyspark["salary"]<=5000) &
                  (df_pyspark['salary']>=3000)).show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|kuba| 55|         7|  4000|
|asdd| 33|         5|  3356|
+----+---+----------+------+

In [14]:
# filter all that are NOT fulfilling condition
# ~ = not
df_pyspark.filter(~(df_pyspark["salary"]<=5000)).show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
| ola| 25|         8| 10000|
|bolo| 11|         8|  6000|
+----+---+----------+------+